body {
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    position: relative;
    left: auto;
    transform: none;

    width: 90%;
    max-width: 600px;
    /* limita para desktop */
    margin: 0 auto;
    padding: 20px;


    border-radius: 12px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    /*border: 2px solid rgba(255, 255, 255, .2);  --  MAIS CLARO*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="date"],
input[type="time"],
input[type="text"] {
    color: #000000c0;
    background-color: transparent;
}

label {
    color: #000000;
}

/*input[type="date"],
input[type="time"] {
    color-scheme: dark;
}*/

input,
button {
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #000000c0;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

select {
    background-color: transparent;
    border: 1px solid #000000c0;
    /* cor da borda */
    color: #929292;
    /* cor da fonte */
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    appearance: none;
    /* tira o estilo padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    outline: none;
    border-color: #00c3ff;
    box-shadow: 0 0 0 2px rgba(46, 89, 125, 0.3);
}

#ok {
    width: 100%;
    padding: 20px;
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  #msg-sucesso {
    width: 90%;
    height: auto;
    font-size: 24px;
    padding: 20px;
  }

  #caixahistorico {
    width: 90%;
    font-size: 1rem;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  #copiar {
    width: 100%;
  }

  .filtros, .legenda {
    flex-direction: column;
    gap: 15px;
  }

  table {
    font-size: 0.9rem;
    margin-left: 0;
    width: 100%;
  }

  th, td {
    padding: 6px;
  }

  #fechar {
    padding: 15px;
    font-size: 1rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}


#msg-sucesso {
    display: none;
    position: absolute;
    color: green;
    margin-top: 10px;
    padding: 35px;
    border-radius: 12px;
    background-color: #fff;
    z-index: 999;
    height: 300px;
    width: 900px;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    text-align: center;
}