<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/consulta.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=cancel" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=history" />
    <title>Consulta de atendimentos</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a id="agendar" href="/agendar">Agendar um Atendimento</a></li>
                <li class="direita"><a id="consultar" href="/">Consultar Atendimentos</a></li>
            </ul>
        </nav>
    </header>

    <div class="filtros">

        <button id="copiar">COPIAR AGENDA</button>

        <input type="text" id="pesquisa" placeholder="Buscar por OS, nome..." />

        <form method="get" action="/">
            <label for="semana">Escolha a semana:</label>
            <select name="semana" id="semana" onchange="this.form.submit()">
                {% for s in semanas_disponiveis %}
                {% set s_fim = s + timedelta(days=4) %}
                <option value="{{ s.strftime('%Y-%m-%d') }}" {% if semana==s.strftime('%Y-%m-%d') %}selected{% endif %}>
                    Semana {{ s.strftime('%d/%m') }} - {{ s_fim.strftime('%d/%m') }}
                </option>
                {% endfor %}
            </select>
        </form>

        <div class="legenda">
            <div class="leg">
                <p>Garantia:</p>
                <div class="verde"></div>
            </div>

            <div class="leg">
                <p>Avulso:</p>
                <div class="vermelho"></div>
            </div>

            <div class="leg">
                <p>Remoto:</p>
                <div class="azul"></div>
            </div>

            <div class="leg">
                <p>Presencial:</p>
                <div class="laranja"></div>
            </div>

            <div class="leg">
                <p>Interno:</p>
                <div class="roxo"></div>
            </div>
        </div>

    </div>

    <div id="tabela-container">
        <table border="1" id="tabela">
            <thead>
                <tr>
                    <th>Técnico</th>
                    <th>Data</th>
                    <th>OS</th>
                    <th>Cliente</th>
                    <th>Modelo</th>
                    <th>Hora</th>
                    <th>Tipo</th>
                    <th>Histórico</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for tecnico in tecnicos %}
                {% for dia in dias_semana %}
                {% set ags = agendamentos[tecnico][dia] %}
                {% if ags %}
                {% for ag in ags %}
                <tr class="{{ ag.tipo | lower }}">
                    <td class="nome-tecnico tecnico-{{ tecnico | lower | replace(' ', '-') }}">
                        {{ tecnico }}
                    </td>

                    {# Mostra a data apenas na primeira linha do dia #}
                    {% if loop.index0 == 0 %}
                    <td rowspan="{{ ags | length }}">{{ dia.strftime('%d/%m') }}</td>
                    {% endif %}

                    <td contenteditable="true" class="editavel" data-id="{{ ag.id }}" data-campo="os">{{ ag.os }}</td>
                    <td contenteditable="true" class="editavel" data-id="{{ ag.id }}" data-campo="cliente">{{ ag.cliente
                        }}
                    </td>
                    <td contenteditable="true" class="editavel" data-id="{{ ag.id }}" data-campo="modelo">{{ ag.modelo
                        }}
                    </td>
                    <td contenteditable="true" class="editavel" data-id="{{ ag.id }}" data-campo="hora">{{ ag.hora }}
                    </td>
                    <td>{{ ag.tipo }}</td>
                    <td>
                        <button class="historico" data-id="{{ ag.id }}">
                            <span class="material-symbols-outlined">
                                history
                            </span>
                        </button>
                    </td>
                    <td>
                        <button class="btn-apagar" data-id="{{ ag.id }}"><span class="material-symbols-outlined">
                                cancel
                            </span></button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="vazio">
                    <td class="nome-tecnico tecnico-{{ tecnico | lower | replace(' ', '-') }}">
                        {{ tecnico }}
                    </td>
                    <td>{{ dia.strftime('%d/%m') }}</td>
                    <td colspan="7">vazio</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="fundopreto">
        <div id="caixahistorico">

            <h3>Histórico</h3>

            <div class="infos">
                <p id="info-criado"></p>
                <p id="info-alterado"></p>
                <p id="info-alterado-em"></p>
                <button id="fechar">Fechar</button>
            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>